<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form th:action="@{/search}" method="post">
        <input type="text" name="search" placeholder="Enter search name" required>
        <input type="submit" value="Submit">
    </form>
</div>

<a href="/addDepartment" > Add Departments </a>
<h4>List of Departments and Employees</h4>
<div>
<tr th:each="d: ${departments}">
    <td th:text="${d.name}" /><br/>
    <td th:text="${d.head}" />

    <ul th:block th:each="a: ${d.employees}">
        <td th:text="${a.firstName}" />
        <td th:text="${a.lastName}" />
        <td th:text="${a.role}" />
        <td th:text="${a.salary}" />
    </ul>
</tr>
</div>
<br/>
<a href="/addEmployee" > Add Employees </a>
</body>
</html>